/* src/components/about.css */

.about-container {
  background-color: #f8f9fa; /* Light background color */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Control width of the container */
  margin: auto;
  text-align: center;
}

.event-title {
  font-size: 28px;
  font-weight: bold;
  color: #00509e; /* Title color */
}

.theme {
  font-size: 24px;
  margin: 20px 0 10px;
}

.theme-text {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #fcb914; /* Theme text color */
  margin-bottom: 30px;
}

.jointly-organized {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.organizers {
  font-size: 18px;
  margin: 15px 0;
}

.event-dates {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.date {
  background-color: #00509e; /* Dark background for dates */
  color: white;
  padding: 15px;
  border-radius: 8px;
  width: 45%; /* Control width of date blocks */
}
